/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  font-family: 'Raleway', sans-serif;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/
header {
    position: fixed;
    top:0;
    background: #ffffff;
    width: 100%;              
}
.logo {
    width: 60px;
    float: right;
}
.menu {
    padding: 14px 70px;
    overflow: auto;
}
.link {
    font-weight: 700;
    padding: 21px;
    display: inline-block;
}
/*____________________________________________________________________________________________________________________________________*/

#home {
  background-image: url(../assets/images/bg-home.jpg);
  background-position: center;
  background-repeat: no-repeat;/*Se muestra en todo el fondo sin repetir*/
  background-size: cover;
  height: 560px;
  text-align: center;
  margin-top: 80px;
}
#home .container {
  color: #ffffff;
  padding: 70px;
}
.text-home {
  font-size: 53px;
}
/*Para el boton que se encuentra en home*/
.button-home {
    background: #2ecc71;
    color: #ffffff;
    padding: 11px 20px;
    border-radius: 1px;/*esquina redondeadas*/
    font-weight: 500;
    text-transform: uppercase;/*aplicar mayussula*/
    margin-top: 63px;
    display: inline-block;/*pasa en linea sin perder su naturaleza de bloque*/
    font-size: 14px;
}
#services {
    background-color: #f17c72;
    color: #ffffff;
    text-align: center;
    padding: 91px 7px;
}

.content-services {
    display: inline-block;
    margin-top: 63px;
    width: 30%;
    
}
#work {
    text-align: center;
    padding: 91px 7px;
}
.text-services, .text-work {
    font-size: 35px;
    letter-spacing: 2px;
}
/*Selector de atributo*/
img[alt="services"] {
    width: 200px;
}

#images-laptop {/*Para rotar la imagen*/
    -webkit-filter: hue-rotate(35deg);
    -moz-filter: hue-rotate(35deg);
    -o-filter: hue-rotate(35deg);
    -ms-filter: hue-rotate(35deg);
    filter: hue-rotate(35deg);
}
.images-work {
    margin-top: 63px;
}
.images-project {
    display: inline-block;
    margin-bottom: 42px;
}
.name-project {
  margin-top: 21px;
  font-weight: 600;
}
/*Selector de atributo*/
img[alt="work"] {
    width: 300px;
    text-align: center;
    padding: 91px 7px;
    padding-bottom: 5px;
    padding-top: 50px;
}
.box {
    display: inline;
}
span {
    text-align: center;
    position: absolute;
    font-weight: bold;
    padding-left: 65px;
    
}
/*Para el footer*/
footer {
  text-align: center;
  height: 70px;
  background: #373b47;
  color: #ffffff;
  padding-top: 7px;

}

